.button {
	cursor: pointer;
}

.clear {
	padding: 10px 30px;
	color: var(--color);
	background: none;
	border: none;
	outline: none;
}

.primary {
	padding: 10px 30px;
	color: var(--white);
	background: var(--primary);
	border: none;
	border-radius: 10px;
}
