.button {
	padding: 10px 30px;
	cursor: pointer;

	&:disabled {
		cursor: auto;
		opacity: 0.4;
	}
}

.clear {
	color: currentcolor;
	background: none;
	border: none;
	outline: none;
}

.primary {
	color: var(--white);
	background: var(--primary);
	border: none;
	border-radius: 6px;
	transition: filter ease-in-out .2s;

	&:not([disabled]):hover {
		filter: brightness(1.1);
	}
}

.red {
	color: var(--white);
	background: var(--red);
	border: 1px solid var(--red);
	border-radius: 6px;
	transition: filter ease-in-out .2s;

	&:hover {
		filter: brightness(1.1);
	}
}

.outline {
	color: currentcolor;
	background: none;
	border: 1px solid var(--primary);
	border-radius: 6px;
	transition: all ease-in-out .2s;

	&:hover {
		color: var(--white);
		background: var(--primary);
	}
}

.bg {
	color: var(--color);
	background: var(--bg-color-secondary);
	border: 1px solid var(--border-color);
	border-left: none;
}

.square {
	padding: 0;
}

.square.size-m {
	width: var(--font-line-m);
	height: var(--font-line-m);
}

.square.size-l {
	width: var(--font-line-l);
	height: var(--font-line-l);
}

.square.size-xl {
	width: var(--font-line-xl);
	height: var(--font-line-xl);
}

.size-m {
	font: var(--font-m);
}

.size-l {
	font: var(--font-l);
}

.size-xl {
	font: var(--font-xl);
}
