.item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icon {
  width: 24px;
  height: 24px;
}

.link {
  margin-left: 10px;
}

.collapsed {
  .link {
    width: 0;
    opacity: 0;
  }
}
