.login {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 420px;
  margin: 0 auto;
  text-align: center;
  row-gap: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  white-space: nowrap;
  column-gap: 10px;
}

.message-info {
  height: fit-content;
  color: var(--red) !important;
}

.terms {
  cursor: pointer;
  opacity: 0.5;
  transition: all ease-in 0.2s;

  &:hover {
    text-decoration: underline;
    opacity: 1;
  }
}

