.profile-card-upload-avatar {
  display: flex;
}

.control {
  display: flex;
  height: 46px;
  column-gap: 20px;
}

.modal {
  padding: 0;
}

.divider {
  margin: 0;
}

.empty-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 1px solid var(--color);
  border-radius: 50%;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px;


    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 50%;
    }
}
