.registration {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 300px;
  margin: 0 auto;
  font-family: 'Inter Regular', sans-serif;
  text-align: center;
  row-gap: 20px;
}

.message-info {
  height: fit-content;
  color: var(--red) !important;
}

.submit-btn {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 12px;
  padding: 14px 40px;
}

.terms {
  cursor: pointer;
  opacity: 0.4;
  transition: all ease-in 0.2s;

  &:hover {
    text-decoration: underline;
    opacity: 1;
  }
}

.question {
  opacity: 0.4;
}

.login {
  margin-left: 10px;
}
