.profile-card-location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.column {
  display: grid;
  row-gap: 20px;
}

.editing {
  input {
    border: 2px solid var(red)!important;
  }
}
