@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-colora);

  min-height: 100vh;
}

