.forgot-password {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 420px;
  margin: 0 auto;
  font-family: 'Inter Regular', sans-serif;
  text-align: center;
  row-gap: 20px;

  .message {
    color: var(--red);
  }

  .header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    white-space: nowrap;
    column-gap: 10px;
  }
}
