.enter-code {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'SF Pro Text Regular', sans-serif;
	text-align: center;

	h2 {
		margin-bottom: 16px;
		font-family: Inter, sans-serif;
	}

	.info {
		margin-bottom: 20px;
	}

	.error-message {
		position: absolute;
		top: 72px;
		color: var(--red);
	}

	.error-code {
		input {
			border: 1px solid red;
		}
	}

	.code {
		display: flex;
		justify-content: space-between;
		width: 240px;
		margin-bottom: 16px;

		input {
			width: 48px;
			height: 48px;
			padding: 10px 16px;
			color: var(--color);
			font-size: 16px;
			text-align: center;
			background-color: var(--bg-color-secondary);
			border: 1px solid var(--border-color);
			border-radius: 6px;
			outline: none;

			&::placeholder {
				color: var(--color-secondary);
				font-size: 16px;
			}

			&:focus {
				box-shadow: 0 0 0 2px var(--primary);
			}
		}
	}

	button {
		width: 240px;
		height: 48px;
		font-size: 16px;
		background-color: var(--primary);
	}

	.resend-code {
		display: flex;
		flex-direction: column;
		margin-top: 12px;
		row-gap: 12px;

		.timer {
			color: var(--color-secondary);
			cursor: auto;
		}

		.text {
			color: var(--color-secondary);
			cursor: pointer;
			transition: color ease 0.2s;

			&:hover {
				color: var(--color);
			}
		}
	}
}
