[data-theme='app-dark-theme']  {
	--bg-color: #121212;
	--bg-color-secondary: #1A1A1A;
	--color: #E6EDF3;
	--border-color: rgb(213 208 215 / 20%);
	--box-shadow-drd: 0 10px 15px -3px rgb(0 0 0 / 10%),
	0 4px 6px -4px rgb(0 0 0 / 10%);
}
