[data-theme='app-light-theme'] {
	--bg-color: #F9F9F9;
	--bg-color-secondary: #FFF;
	--color: #3B434E;
	--border-color: #D5D0D7;
	--box-shadow-drd: 0 10px 15px -3px rgb(0 0 0 / 10%),
	0 4px 6px -4px rgb(0 0 0 / 10%);
}
