.menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
  outline: none !important;
  cursor: pointer;
  scroll-margin: 8px;
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;
  transition: color ease-in-out .2s;
}

.menu-item[data-active-item] {
  color: var(--white);
  background-color: var(--primary);
}

