.menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
  outline: none !important;
  cursor: pointer;
  scroll-margin: 8px;
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;
  transition: color ease-in-out .2s;
}

.menu-item[aria-disabled="true"] {
  cursor: default;
  opacity: 0.25!important;
  user-select: none;
}

.menu-item:not([aria-disabled="true"])[data-active-item] {
  color: var(--white);
  background-color: var(--primary);
}

