.auth-modal {
  .close-icon {
    position: absolute;
    top: -35px;
    right: -50px;
    width: 32px;
    height: 32px;
    color: var(--white);
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition-duration: 500ms;

    &:hover {
      transform: rotate(90deg);
    }
  }
}
